h1 {
    font-size: 16px;
}
h2{
    font-size: 14px;
}
.MuiInputBase-root{
    padding: 0px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expandFromCenter {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.expand-center {
  animation: expandFromCenter 0.8s ease-out forwards;
  transform-origin: center;
  opacity: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


.fade-in-right {
  animation: fadeInRight 1s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}
iframe{
  height: 100%;
  width: 100%;
}

.rsw-ce{
  span,p,div{
  font-size: 12px !important;
  }
}