@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}
body,#root, html{
  overflow: hidden;
  height: 100%;
}
.MuiOutlinedInput-input {
  padding: 0.5rem !important;
}
textarea{
  padding: 0.5rem !important;
}

.MuiInputLabel-root{
  transform: translate(14px, 8px) scale(1) !important;
  font-size: 14px !important;
}
.MuiInputLabel-shrink {
  transform: translate(14px, -9px) scale(0.75) !important;
}
h6{
  font-size: 14px !important;
}
p{
  font-size: 12px !important;
}
link{
  display: inline-block !important;
}
.MuiInputBase-root {
  font-size: 14px !important;
}

@layer base{
  img{
    display: initial;
  }
} 
.public-DraftStyleDefault-ul {
  margin: 0 !important;
}

/* A4 aspect ratio is 1:1.414 — 210mm x 297mm */
.preview-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.a4-preview {
  width: 210mm;
  min-height: 297mm;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

/* Optional: Limit max scale if very large screen */
@media screen and (max-width: 1200px) {
  .a4-preview {
    transform: scale(calc(100vw / 794px)); /* 794px ≈ 210mm in screen px */
  }
}

@page {
  size: A4;
  margin: 1in;
}
.page-break {
  break-after: page;
}
ol, ul, menu {
  list-style: unset !important;
  padding-left: 8px !important;
}
.rsw-toolbar {
  flex-wrap: wrap;
}